body { background: #a93247; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 54px; display: flex; }
.block-user-0 { color: #6cb2de; font-size: 13px; margin-bottom: 5px; }
.block-uploader-1 { color: #c17749; font-size: 16px; margin-bottom: 5px; }
.block-user-2 { color: #a00685; font-size: 14px; margin-bottom: 5px; }
.block-order-3 { color: #360696; font-size: 12px; margin-bottom: 5px; }
.block-email-4 { color: #a461; font-size: 12px; margin-bottom: 5px; }
.block-order-5 { color: #10ef6c; font-size: 16px; margin-bottom: 5px; }
.block-email-6 { color: #fb6869; font-size: 16px; margin-bottom: 5px; }
.block-uploader-7 { color: #287f7d; font-size: 16px; margin-bottom: 5px; }